@import './../modules/colors';
@import './../modules/grid';

.main{
  width: 100vw;
  height: 100vh;
  background-image: url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  a{
    text-decoration: none;
  }

  h1{
    position: absolute;
    top: 100px;
    transform: translate(20%);
    color: #e0e0e0;
    padding: 30vh 10vw;
  }
}

.drumsPage{
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.key {
  display: inline-block;
  @include grid(9, 2%)
}